.product-title-word-break {
    word-break: break-word;

}
.a-size-large {
    text-rendering: optimizeLegibility;
    font-size: 24px!important;
    line-height: 32px!important;
    font-weight: 400;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.a-color-price {
    color: #B12704!important;
}

.a-color-price {
    color: #B12704!important;
}

.a-size-medium {
    font-size: 18px!important;
    line-height: 24px!important;
}

#productTitle{
    font-weight: 500;
}


.a-list-item{
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana,sans-serif;
    text-align: -webkit-match-parent;
}

.a-spacing-medium{
    margin-bottom: 16px!important;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 32px!important;
    font-family: Verdana,sans-serif;
}

.a-spacing-top-large{
    
}